<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 设置日志实现方式为将日志输出到标准输出。
      <settings>
          <setting name="logImpl" value="STDOUT_LOGGING"/>
      </settings>
 -->

    <!-- 设置别名，使用别名来映射pojo类 -->
    <typeAliases>
        <package name="com.ahut.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql:///web_design?useSSL=false&amp;serverTimezone=UTC&amp;useServerPrepStmts=true&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--扫描mapper-->
        <package name="com.ahut.mapper"/>
    </mappers>
</configuration>