<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 定义订单详情项相关数据库操作的映射文件 -->
<mapper namespace="com.ahut.mapper.OrderItemMapper">

    <!-- 定义结果映射，将数据库字段映射到OrderItem对象的属性 -->
    <resultMap id="orderItemResultMap" type="orderItem">
        <result column="order_id" property="orderId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="total_price" property="totalPrice"/>
    </resultMap>

    <!-- 查询指定订单的所有订单详情项，包括商品的名称、价格和图片 -->
    <select id="selectAll" resultMap="orderItemResultMap">
        select o.*,g.name as name,g.price as price,g.picture as picture
        from order_item as o left join goods g on g.id = o.goods_id
        where order_id = #{orderId};
    </select>

</mapper>