<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/detail.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <h1>商品详情</h1>
    <div class="link">
        <a href="http://localhost:8080/shopping/login.html">用户登录</a>
        >>
        <a href="http://localhost:8080/shopping/index.html">商品展示</a>
        >>
        <a href="http://localhost:8080/shopping/cart.html">我的购物车</a>
        >>
        <a href="http://localhost:8080/shopping/order.html">我的订单</a>
    </div>
    <hr>
    <div class="box">
        <div class="container">
            <img v-if="goods.picture" :src="'imgs/'+goods.picture" class="img">
            <div class="text">
                <div class="name item">{{goods.name}}</div>
                <div class="price item"><i>￥{{goods.price}}</i></div>
                <div class="item">
                    <span>库存：</span>
                    <div class="number">{{goods.number}}</div>
                </div>
                <div class="item">
                    <span>产地：</span>
                    <div class="city">{{goods.city}}</div>
                </div>
                <div class="item">
                    <span>购买数量：</span>
                    <input type="number" @blur="checkCount" v-model="cart.count" :min="minCount" :max="goods.number">
                </div>
                <div class="item btns">
                    <button class="pay btn" @click="buyNow">立即购买</button>
                    <button class="addToCart btn" @click="addToCart">加入购物车</button>
                    <button class="showCart btn" @click="gotoCart">查询购物车</button>
                </div>
            </div>
        </div>
        <div class="looked">
            <h2>我的足迹</h2>
            <div class="list">
                <div v-for="(item, index) in looked" :key="index" class="item">
                    <img :src="'imgs/'+item.picture" width="200px">
                    <div class="description">
                        <div class="name item">{{item.name}}</div>
                        <div class="price item"><i>￥{{item.price}}</i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- message弹框 -->
    <div :class="{message:true,active:isActive}" ref="message">{{message}}</div>
</div>

<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                cart: {
                    goodsId: null,
                    count: null,
                    price:null
                },
                minCount: 1,  // 购买数量下限
                isActive: false,
                message: '',
                goods: {},
                looked: {}
            }
        },
        created() {
            // 加载浏览足迹
            const userId = localStorage.getItem('userId')
            let looked = localStorage.getItem('looked') ? JSON.parse(localStorage.getItem('looked')) : {}
            this.looked = !looked[userId] ? [] : looked[userId]

            const search = location.search.slice(1)
            const params = search.split('=')
            const id = params[1]
            this.cart.goodsId = id

            axios.get(`http://localhost:8080/shopping/goods/selectById?id=${id}`)
                .then(response => {
                    this.goods = response.data
                    // 加入浏览足迹
                    this.looked.unshift(this.goods)
                    // 最多保存5个
                    this.looked.length > 5 ? this.looked.pop() : this.looked
                    looked[userId] = this.looked
                    // 保存到浏览器本地
                    localStorage.setItem('looked', JSON.stringify(looked))

                    this.cart.price=this.goods.price;
                    if (this.goods.number == 0) {
                        this.cart.count = 0;    //购买数量初始值
                        this.minCount = 0;
                    } else {
                        this.cart.count = 1;    //购买数量初始值
                        this.minCount = 1;
                    }
                })
        },
        methods: {
            buyNow() {
                if (this.goods.number == 0) {
                    this.showMessage('商品库存不足，购买商品失败');
                }
                // 购买数量不是整数时，不进行添加到购物车的操作
                else if (!Number.isInteger(this.cart.count)) {
                    this.showMessage('购买数量必须为整数');
                } else {
                    // 创建一个只包含当前商品的数组(即购物车列表)
                    let singleCartList = [this.cart];
                    // 发送POST请求，提交订单
                    axios.post('http://localhost:8080/shopping/order/submitUserOrders?buyNowFlag=1', {
                        totalPrice: this.goods.price * this.cart.count,
                        cartList: singleCartList
                    })
                        .then(response => {
                            if (response.data === '提交订单成功') {
                                this.goods.number -= this.cart.count;
                                //根据商品库存，初始化购买数量和购买数量最小值
                                if (this.goods.number == 0) {
                                    this.cart.count = 0;    //购买数量初始值
                                    this.minCount = 0;
                                } else {
                                    this.cart.count = 1;    //购买数量初始值
                                    this.minCount = 1;
                                }
                                this.showMessage("购买商品成功");
                            } else {
                                this.showMessage("商品库存不足，购买商品失败，请重新刷新页面");
                            }
                        })
                }

            },
            checkCount() {
                this.cart.count = Number(this.cart.count);
                // 当商品库存为0时，购买数量应始终为0
                if (this.goods.number == 0) {
                    this.cart.count = 0;
                }
                if (this.goods.number != 0 && this.cart.count < 1) {
                    this.cart.count = this.minCount;
                }
                if (this.goods.number != 0 && this.cart.count > this.goods.number) {
                    this.cart.count = this.goods.number;
                }
            },
            gotoCart() {
                location.href = 'http://localhost:8080/shopping/cart.html'
            },
            addToCart() {
                if (this.goods.number == 0) {
                    this.showMessage('商品库存不足，无法加入购物车');
                }
                // 购买数量不是整数时，不进行添加到购物车的操作
                else if (!Number.isInteger(this.cart.count)) {
                    this.showMessage('购买数量必须为整数');
                } else {
                    axios.post('http://localhost:8080/shopping/cart/addToCart', this.cart)
                        .then(response => {
                            this.showMessage(response.data);
                        });
                }
            },
            // 展示弹框
            showMessage(message) {
                this.message = message
                this.isActive = true
                setTimeout(() => {
                    this.isActive = false
                }, 3000)
            }
        }
    })
</script>
</body>

</html>